<div class="container content">
	<div class="panel panel-default ">
  		<div class="panel-heading bgcolor-dark color-white">
    		<h3 class="panel-title">What is TessuStats?</h3>
  		</div>
  		<div class="panel-body bgcolor-dark color-white">
    		TessuStats is a website / webapp that collects data from the Loungestats Teamspeak server and displays different statistics, graphs and information about how the server is operating.
  			TessuStats is completely non-profit free website and is developed and maintained just for practice, portfolio and own fun. 
        What is TeamSpeak? Check it out here: <a class="color-red" href="https://www.teamspeak.com/teamspeak3">https://www.teamspeak.com/teamspeak3</a>
  			<br><br>
  			The address of Loungestats Teamspeak server is: <strong class="color-orange">loungestats.com</strong>
  		</div>
	</div>
	<div class="panel panel-default">
  		<div class="panel-heading bgcolor-dark color-white">
    		<h3 class="panel-title">Front-end</h3>
  		</div>
  		<div class="panel-body bgcolor-dark color-white">
    		TessuStats uses <a class="color-red" href="https://angularjs.org/">Angular.js</a> as the front-end framework. For CSS we use <a class="color-red" href="http://getbootstrap.com/">Bootstrap</a> and to render the flags we use <a class="color-red" href="http://lipis.github.io/flag-icon-css/">flag-icon-css</a>. We also use <a class="color-red" href="http://momentjs.com/">Moment.js</a> for date and time functions and <a class="color-red" href="http://www.google.com/analytics/">Google Analytics</a> to see how many visitors we have.
  			For all the graphs we use <a class="color-red" href="http://www.highcharts.com/">HighCharts</a>
  		</div>
	</div>
	<div class="panel panel-default">
  		<div class="panel-heading bgcolor-dark color-white">
    		<h3 class="panel-title">Back-end</h3>
  		</div>
  		<div class="panel-body bgcolor-dark color-white">
    		<strong>Running the website</strong><br>
    		The server is running <a class="color-red" href="http://expressjs.com/">Express.js</a> on top of <a class="color-red" href="https://nodejs.org/">Node.js</a>. If you want to track your TeamSpeak server the same way, check out the git repository <a class="color-red" href="https://bitbucket.org/Arap/tessustats">here!</a> 
    		<br>
    		<strong>Collecting the data</strong><br>
			TessuStats connects to the server via TeamSpeaks official <a class="color-red" href="http://media.teamspeak.com/ts3_literature/TeamSpeak%203%20Server%20Query%20Manual.pdf">ServerQuery</a> interface.The connection is made using <a class="color-red" href="https://www.npmjs.com/package/node-teamspeak">node-teamspeak</a> ServerQuery Node.js library.
    		We make a connection to the TeamSpeak server every 5 minutes. Every scan we save the server state, connection status,channels that are up and search for user list to add a record of the user to the database. We do not store any IP adresses.
  			<br>
    		<strong>Storing the data</strong><br>
    		We store everything in <a class="color-red" href="https://www.sqlite.org/">SQLite</a> database (mostly because I'm lazy to set up a real database). We use <a class="color-red" href="https://www.npmjs.com/package/sqlite3">sqlite3</a> Node.js module to access the database.
  		</div>
	</div>
</div>