<div class="container content">
<div class="row">
  <div class="col-xs-4 ">
  </div>
	<div class="col-xs-4 ">
        <h1><span class="label bgcolor-dark color-white"> Country: {{countriesdata.countrydata.country}} <span class="famfamfam-flag-{{countriesdata.countrydata.country | lowercase}}"></span></span></h1>
    </div>

</div>
<br>
<br>
<div class="row">
        <div class="col-xs-4 ">
            <h3 style="margin:0px;"><span class="label bgcolor-orange color-black" > User count</span></h3>
        </div>
</div>
<div class="row">
        <div class="col-xs-12 ">
        	<div class="progress bgcolor-black">
  				<div class="progress-bar" style="width: {{getActivityPercent(countriesdata.countrydata.activityscore)}}%; background-color: #8080ff !important;">
  				<span class="sr-only"></span>
  				</div>
  			</div>
        </div>
</div>
<div class="row">
        <div class="col-xs-4 ">
            <h3 style="margin:0px;"><span class="label bgcolor-orange color-black" > Activity</span></h3>
        </div>
</div>
<div class="row">
        <div class="col-xs-12 ">
        	<div class="progress bgcolor-black">
  				<div class="progress-bar " style="width: {{getUsersPercent(countriesdata.countrydata.users.length)}}%; background-color: #8080ff !important;">
  				<span class="sr-only"></span>
  				</div>
  			</div>
        </div>
</div>
<div class="row">
        <div class="col-xs-4 ">
            <h3 style="margin:0px;"><span class="label bgcolor-orange color-black" > Basic info</span></h3>
        </div>
</div>
<div class="row">
        <div class="col-xs-12 ">
            <div class="panel panel-default ">
                <div class="panel-body bgcolor-dark color-white">
                    <div class="row smallmarginbottom" >
                    	<div class="col-xs-6 smallmarginbottom">
                            <strong>Activity score:</strong> <span class="label label-info">{{countriesdata.countrydata.activityscore}}</span> / <span class="label label-default">{{countriesdata.combinedActivityScore}}</span> ({{getActivityPercent(countriesdata.countrydata.activityscore)}} %)
                        </div>
                        <div class="col-xs-6 smallmarginbottom">
                            <strong>Time online:</strong> {{getTimeFromSeconds(countriesdata.countrydata.activityscore *5 * 60)}}.
                        </div>
                        <div class="col-xs-6 smallmarginbottom">
                            <strong>Users from {{countriesdata.countrydata.country}}:</strong> <span class="label label-info">{{countriesdata.countrydata.users.length}}</span> / <span class="label label-default">{{countriesdata.clientamount}}</span> ({{getUsersPercent(countriesdata.countrydata.users.length)}} %)
                        </div>
                        <div class="col-xs-6 smallmarginbottom">
                            <strong>Country rank:</strong> {{countriesdata.rank + 1}}.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<div class="row">
    <div class="col-xs-12 ">
    	<div class="panel panel-default">
  			<div class="panel-heading bgcolor-dark color-white">
    			<h3 class="panel-title"> <strong>Users from {{countriesdata.countrydata.country}} </strong></h3>
  			</div>
  			<div class="panel-body bgcolor-dark color-white">
    			<table id="userstable" class="table table-condensed table-hover" >
					<tr class="clickable dark-table-hover" ng-repeat="user in countriesdata.countrydata.users" ng-click="selectUser(user.databaseid)" >
   						<td>{{user.username}}</td>
					</tr>
				</table>
  			</div>
		</div>
	</div>
</div>
</div>
