<div class="container content">

    <div class="row mediummarginbottom">
        <div class="col-xs-4 ">
        </div>
        <div class="col-xs-2 ">
            <h1><span class="label bgcolor-dark ">Loungestats.com community</span></h1>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 ">
            <div class="panel panel-default ">
                <div class="panel-body bgcolor-dark color-white">
                    <div ng-show="!loggedInUser">
                        <h2> New user / Reset password</h2>
                        <hr class="minHR"/>
                        <p> <strong>Step 1. </strong><br>
                        Locate your Teamspeak identity's Unique ID .
                        You can find your Teamspeak Unique ID by pressing (CTRL + I) OR from Teamspeak > Settings > Identities .  <a class="color-red" href = "http://i.imgur.com/kF2fKn6.png">Where is it ?</a> Make sure you select the right one if you have multiple identities. <br>

                        <strong>Step 2.</strong><br>
                        Copy and paste the whole ID to the form below and press Proceed.
                        </p>
                        <form novalidate class="simple-form "> 
                            <hr class="smallHR"/>
                            Unique ID: <input style="width: 30%"class="color-black"type="text" ng-model="uniqueID" /><br /><hr class="smallHR"/>
                            <input type="submit" class="color-black" ng-click="registerAcc(uniqueID)" value="Proceed" />
                        </form>
                        <hr/>
                        <h2> Login </h2>
                        <p>If you already have an account, paste your authentication GUID here and press login.
                        </p>
                        <form novalidate class="simple-form ">
                            <hr/>
                            Authentication GUID: <input class="color-black"type="text" ng-model="guid" /><br /><hr/>
                            <input type="submit" class="color-black" ng-click="login(guid)" value="Login" />
                        </form>

                    </div>

                    <div ng-show="loggedInUser">
                        <button type="button" class="btn btn-success btn-lg" ng-click="makeNewPost()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Make a new post 
                        </button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="logout()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Log out
                        </button>
                        
                        
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 ">
            <div class="panel panel-default ">
                <div class="panel-body bgcolor-dark color-white">
                    <table class="table">
                        <tr>
                            <th class="dark-table-hover">Topic</th> 
                            <th class="dark-table-hover">Category</th>
                            <th class="dark-table-hover">Poster</th>
                            <th class="dark-table-hover">Comments</th>
                            <th class="dark-table-hover">Created</th>
                            <th class="dark-table-hover">Updated</th>
                        </tr>
                        <tr class="clickable" ng-repeat="post in forumData.forumPosts" ng-click="goToPost(post.ID)" > 
                            <td>{{post.title}}</td>
                            <td>{{post.category}}</td>
                            <td>{{getNameFor(post.creator)}}</td>
                            <td>{{post.comments}}</td>
                            <td>{{getTime(post.created)}}</td>
                            <td>{{getTime(post.updated)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>