<div class="container content ">
	<div class="row">
		<div class="col-xs-4 ">
			<h3 style="margin: 0px;">
				<span class="label bgcolor-orange color-black"> Server info</span>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 ">
			<div class="panel panel-default bgcolor-dark color-white">
				<div class="panel-body color-white">
					<div class="row smallmarginbottom">
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server name:</strong> {{serverdata.basicinfo.name}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server welcome message:</strong>
							{{serverdata.basicinfo.welcomemessage}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server platform:</strong> {{serverdata.basicinfo.platform}}
						</div>
						<div class="col-xs-6 smallmarginbottom ">
							<strong>Server version:</strong> {{serverdata.basicinfo.version}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Average ping:</strong> {{serverdata.basicinfo.ping}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Packet loss:</strong> {{serverdata.basicinfo.packetloss}}%
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server uptime:</strong> {{serverdata.uptime}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server status: <span
								class="text-{{serverdata.lastscaninfo.lastScanStyle}}">{{serverdata.lastscan[0].success}}</span></strong>
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Scans total:</strong> {{serverdata.scanamount}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Unique visitors:</strong> {{serverdata.clientamount}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Channels active:</strong> {{serverdata.activechannels}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Channels created:</strong> {{serverdata.channelamount}}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 ">
			<h3 style="margin: 0px;">
				<span class="label bgcolor-orange color-black"> Server activity</span>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 ">
			<div class="panel panel-default bgcolor-dark">
				<div class="panel-body color-white">
					<div class="row smallmarginbottom">
						<div class="col-xs-6 smallmarginbottom">
							<strong>At this moment:</strong> {{serverdata.lastscanCO}} online!
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server can hold up to:</strong> {{serverdata.basicinfo.maxclients}} clients
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Last scan:</strong> {{serverdata.lastscaninfo.dateFormatted}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Next scan:</strong> ~ {{getTimeToNextScan()}}
						</div>
						<div class="col-xs-6 smallmarginbottom ">
							<strong>Most clients seen:</strong> {{serverdata.mostclients.times}} <i
								class="icon-ok-sign" rel="tooltip"
								title="{{serverdata.mostclients.date}}" id="mostclienttime"> <span
								class="glyphicon glyphicon-time text-info"></span>
							</i>
						</div>
						
						<div class="col-xs-12 ">
						<hr>
							<h3 >
								Activity chart:
							</h3>
							Below is graph showing how many people there have been online lately. Clicking the buttons will change the timeframe.
						</div>
						
						<div class="col-xs-12 smallmarginbottom">
							<div class="btn-group timeframe-buttons" role="group" aria-label="adb">
								<button type="button"  class="btn btn-danger crazybutton" ng-Click="loadActivityGraphDay()">Day</button>
								<button type="button" class="btn btn-danger crazybutton" ng-Click="loadActivityGraphWeek()">Week</button>
								<button type="button"  class="btn btn-danger crazybutton" ng-Click="loadActivityGraphMonth()">Month</button>
							</div>
						</div>

						</div>
						<div class="col-xs-12 smallmarginbottom">
							<div id="serverchart" style="height: 500px; margin-bottom: 100px;">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
<script>

$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});

</script>
</div>